.navBar-section {
  position: relative;
  padding: 30px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 90px;
}

.logo {
  font-size: 25px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 600;
}

.icon-bag {
  color: #2d353d;
  cursor: pointer;
}
