.pop-up-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
}

.pop-up-container.show {
  display: block;
}

.pop-up {
  background-color: #38539f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  height: 560px;
  color: #ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  animation-duration: 0.5s;
  animation-name: pop-up-animated;
}

.img-container {
  width: 200px;
  height: 300px;
  margin-top: 15px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  line-height: 27px;
  margin-top: 15px;
}

.quantity {
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.quantity h4 {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
}

.quantity span {
  margin-left: 20px;
  font-size: 13px;
  border: 2px solid #ffff;
  padding: 1px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.prix {
  margin-top: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-checkout {
  text-align: center;
  margin-top: 28px;
  border: solid 2px #ffff;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 400;
  font-family: inherit;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.pop-up-close {
  position: absolute;
  top: 15px;
  right: 17px;
  font-size: 17px;
  cursor: pointer;
}

@keyframes pop-up-animated {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
